/* ----------------NavBar Section-------------------- */

@charset "UTF-8";
/* 
$content-width will be the max width of the content within the navigation bar. 
$breakpoint determines at which width the media query breakpoint will take effect.
*/

body {
  background-image: linear-gradient(lightpink cyan);
}
nav {
  float: right;
  /* clear: both; */
  /* background-color: rgba(.255, .255, .255, .5); */
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 0 20px;
  font-weight: 600;
  text-shadow: 1px 1px 5px rgb(141, 139, 139);
  line-height: 70px;
  /* background: #ffffff; */
  background: transparent;
  /* color: #463f3f; */
  color: white;
  text-decoration: none;
  transition: all ease-in-out .5s;
  /*
  The full path of this code is nav ul li a:not(:only-child):after. This means that the code will apply to any a tag in our nav list that is NOT an only child, aka any dropdown. The :after means it comes after the output of the tag. I’ve decided that to specify any nav item as a dropdown, it will be followed by a unicode arrow – ▾ (#9662).
  */
}
nav ul li a:hover {
  background: rgba(.255, .255, .255, .1);
  text-shadow: 3px 3px 10px black;
  color: rgb(200, 248, 128);
  /* font-weight: 600; */
  font-family: cursive;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  z-index: 1;
  /* Guarantees that the dropdown will display on top of any content. */
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
    float: none;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
    
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #463f3f;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}
/* 
.navigation – the outer wrapper for the navbar. Specifies the height and color, and will stretch the full width of the viewport.
*/
.navigation {
  height: 70px;
  /* background: #ffffff; */
  background: rgba(.255, .255, .255, .2);
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.1);
  color: greenyellow;
}

/*
.nav-container – the inner wrapper for the navbar. Defines how far the actual content should stretch.
*/
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #463f3f;
  text-decoration: none;
}



/*----------------------------- Home Page------------- */
.body {
    
    height: 100vh;
   
    /* margin: 0; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    
    background: url('https://wallpapers.com/images/high/dark-devil-and-angel-wings-wz3pnb7mb6dj48nw.webp') no-repeat center right ;
    background-color: black;
    
    /* background-size: ; */
    margin: 0;
    padding: 0;
    height: 100vh; 
    /* object-fit: cover; */
   
   
}

.container {
    text-align: center;
/*         padding-top: 200px; */
    
}

.text-container {
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: #fff;
    /* overflow: hidden; */
     /* Hide overflow to simulate typing effect */
    white-space: nowrap; /* Ensure text stays on one line */
    margin-top: 200px;
}
@media only screen and (max-width: 800px) {
    .text-container{
        margin-top: 400px;
      }
}

.typed-text {
    display: inline-block;
    white-space: nowrap; /* Ensure text stays on one line */
    /* overflow: hidden;  */
    /* Hide overflow to simulate typing effect */
    border-right: 2px solid #333; /* Border for cursor effect */
    /* text-shadow: 2px 2px 10px #fff ; */
    font-family: cursive;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
                         0 0 20px rgba(255, 255, 255, 0.6), 
                         0 0 30px rgba(255, 255, 255, 0.4), 
                         0 0 40px #e3e0e3, /* Outer glow color */
                         0 0 70px #ece9ec,
                         0 0 80px #e7e2e7,
                         0 0 100px #e1e1e1,
                         0 0 150px #fefafe;
}

.cursor {
    display: inline-block;
    width: 2px;
    background-color: #333;
    margin-left: 2px;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    50% {
        background-color: transparent;
    }
}
/*----------------------------- Home Page------------- */

/*---------------------- Api Section -----------------*/

.image {
    margin: 20px;
}

#parent {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



/* Contact Us Page */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: white;
}

.container-contact {
  width: 500px;
  margin: 50px auto;
  /* background: #fff; */
  background-image: url(../../image/intelligent_guy_hacker_anime_image_with_dangerous_mask-2b651a7c-ea6e-4000-b7f1-56e144537290.jpg) ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgba(69, 69, 69, 0.705);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}



/* CSS Loader */

.boody {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 8px solid #f3f3f3;
  /* Light grey */
  border-top: 8px solid #34db4d;
  border-bottom: 8px solid red;
  /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

#content {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
